body {
    margin: 0;
    padding: 0;background-color: #000000;
    scroll-behavior: smooth;

}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position:absolute;
    top: 0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}

.head-left {
    display: flex;
    align-items: center;

}

.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 3.0s;

}

.head-left button:hover{
    opacity: 0.7;
}

.head-right {
    display: flex;
}

.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 15px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    z-index: 1;
    position: absolute;
    top: 80px;
    left:50px;
}

.hero-info h1 {
    font-size: 120;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p{
    color: white;
    max-width: 210px;

}

.hero-info button {
    background-color: #edff66;
    border: 2px solid #edff66;
    padding:10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}